.password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input-wrapper input {
  flex: 1;
  padding-right: 35px;
}

.password-toggle {
  position: absolute;
  right: 0;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  padding: 5px;
}









